node_modules/
target/
build/
generated/

# Virtual environments
venv/
.env/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Logs
*.log

# IDE / editor files
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS / Windows junk
.DS_Store
Thumbs.db

